<mat-card>
  <mat-card-header>
    <mat-card-title>Add New Product</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()" class="product-form">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput required [(ngModel)]="newProduct.ProductName" name="ProductName" placeholder="Enter product name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput required [(ngModel)]="newProduct.ProductDescription" name="ProductDescription" placeholder="Enter product description"></textarea>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Category</mat-label>
        <input matInput required [(ngModel)]="newProduct.ProductCategory" name="ProductCategory" placeholder="Enter product category" />
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Add Product</button>
      </div>
    </form>


  </mat-card-content>
</mat-card>
