<div class="h-screen flex flex-col ">

  <!-- Header -->
  <div class="bg-blue-600 text-white">
    <mat-toolbar>
      <app-header></app-header>
    </mat-toolbar>
  </div>

  <div class="flex flex-1">
    <mat-sidenav-container class="w-64 bg-gray-100">
      <mat-sidenav mode="side" opened class="h-full">
        <app-side-navbar></app-side-navbar>
      </mat-sidenav>
    </mat-sidenav-container>

    <div class="flex-1 p-4 bg-slate-200">
      <router-outlet></router-outlet>
    </div>
  </div>

  <!-- Footer -->
  <div class="bg-gray-700 text-white">
    <mat-toolbar class="justify-center">
      <app-footer></app-footer>
    </mat-toolbar>
  </div>
</div>
