/* .sidenav-container {
  height: 100vh;
}

.custom-sidenav {
  background-color: grey;
  color: white;
  width: 250px;
  transition: width 0.3s ease;
}

.custom-sidenav.closed {
  width: 0;
  overflow: hidden;
}

.sidenav-header {
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

.hamburger-menu {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 2;
}

.main-content {
  padding: 16px;
} */


.sidenav-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

mat-sidenav-content {
  margin-top: 64px; /* Height of the toolbar */
}


.toolbar {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

mat-sidenav {
  width: 250px;
}
/*
mat-sidenav-content {
  margin-top: 64px;
  padding: 16px;
} */

.content {
  padding: 16px;
}
