<div class="h-screen flex">
 
  <mat-sidenav-container class="flex h-full w-full bg-gray-200">
    <!-- Sidebar -->
    <!-- <mat-sidenav mode="side" opened class="bg-blue-800 text-white w-64 shadow-lg">
      <div class="p-4 text-lg font-bold text-yellow-400">My Sidebar</div>
      <nav>
        <ul>
          <li class="p-3 hover:bg-blue-700">
            <a href="#" class="flex items-center space-x-2">
              <mat-icon class="text-yellow-400">home</mat-icon>
              <span>Home</span>
            </a>
          </li>
          <li class="p-3 hover:bg-blue-700">
            <a href="#" class="flex items-center space-x-2">
              <mat-icon class="text-yellow-400">dashboard</mat-icon>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="p-3 hover:bg-blue-700">
            <a href="#" class="flex items-center space-x-2">
              <mat-icon class="text-yellow-400">settings</mat-icon>
              <span>Settings</span>
            </a>
          </li>
        </ul>
      </nav>
    </mat-sidenav>

   Main Content -->
    <mat-sidenav-content class="flex-1 p-4 bg-gray-100">
      <div class="text-xl font-semibold text-blue-900">Welcome to the Dashboard!</div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
